<!-- Sección del banner -->
<table class="w-full bg-ziyego-banner-background bg-cover bg-center bg-no-repeat rounded-3xl font-ziyego-text relative">
    <tr>
        <td class="w-full md:w-3/5 pt-12 pb-10 pl-8 md:pl-16 pr-8 md:pr-0">
            <h2 class="m-0 text-white text-3xl md:text-40 font-medium mb-4">
                ¡Envíos a todo México!
            </h2>
            <p class="m-0 text-white text-2sm mb-8">
                Cotiza con {{ page.company }}&copy; y obtén precios preferenciales para tus envíos a todo México
            </p>
            <p class="m-0 text-center md:text-left">
                <a href="#" class="inline-block no-underline text-2sm font-medium bg-ziyego-yellow-1 text-ziyego-purple-1 px-6 py-2 rounded-3xl hover:bg-ziyego-yellow-1/90 transition">
                    Cotizar
                </a>
            </p>
        </td>
        <td class="w-2/5">
            <img src="images/repartidor.png" class="hidden md:block h-56 w-auto absolute bottom-0 right-24" alt="Repartidor de {{ page.company }}">
        </td>
    </tr>
</table>
<!-- Fin de la sección del banner -->
