<table class="w-full bg-ziyego-banner-background bg-cover bg-center bg-no-repeat rounded-3xl relative">
    <tr>
        <td class="w-1/2 pt-12 pb-10 pl-16">
            <h2 class="m-0 text-white text-40 font-ziyego-title mb-4">
                ¡Envíos a todo México!
            </h2>
            <p class="m-0 text-white text-2sm mb-8">
                Cotiza con {{ page.company }}&copy; y obtén precios preferenciales para tus envíos a todo México
            </p>
            <a href="#" class="inline-block no-underline text-2sm bg-ziyego-yellow-1 text-ziyego-purple-1 px-6 py-2 rounded-3xl hover:bg-ziyego-yellow-1/90 transition">
                Cotizar
            </a>
        </td>
        <td class="w-1/2">
            <img src="images/repartidor.webp" class="h-56 w-auto inlin absolute bottom-0 right-24" alt="Repartidor">
        </td>
    </tr>
</table>
