<!-- Sección de servicios -->
<table class="w-full bg-white rounded-b-57 text-ziyego-purple-2 font-ziyego-text text-center">
    <tr>
        <td class="relative">
            <img src="images/confeti-left.webp" class="h-80 w-auto absolute top-0 left-0" alt="Confeti mexicano">
            <img src="images/confeti-right.webp" class="h-80 w-auto absolute top-4 right-0" alt="Confeti mexicano">
        </td>
    </tr>
    <tr>
        <td class="pt-16 sm:pb-14 pb-28">
            <h2 class="m-0 text-3xl font-medium mb-3">
                ¡{{ page.company }} te ayuda!
            </h2>
            <p class="m-auto whitespace-pre-line sm:text-4xl sm:w-3/4 text-50 font-medium">Envía a todo México
                al mejor precio
            </p>
        </td>
    </tr>
        <td class="sm:pb-10 pb-16">
            <table class="sm:px-8 sm:w-full w-3/4 m-auto">
                <tr class="flex sm:gap-x-4 items-start">
                    <td class="w-1/2 sm:pb-12 pb-24">
                        <img src="images/mejor-precio.webp" class="h-41 w-auto" alt="Adquiere tus guías al mejor precio">
                        <h3 class="m-0 sm:text-lg text-xl font-medium mt-5">
                            Adquiere tus guías al mejor precio
                        </h3>
                    </td>
                    <td class="w-1/2 sm:pb-12 pb-24">
                        <img src="images/atencion-personalizada.webp" class="h-41 w-auto" alt="Atención personalizada">
                        <h3 class="m-0 sm:text-lg text-xl font-medium mt-5">
                            Atención personalizada
                        </h3>
                    </td>
                </tr>
                <tr class="flex sm:gap-x-4 items-start">
                    <td class="w-1/2">
                        <img src="images/opciones-envio.webp" class="h-41 w-auto" alt="Diferentes opciones de envío">
                        <h3 class="m-0 sm:text-lg text-xl font-medium mt-5">
                            Diferentes opciones de envío
                        </h3>
                    </td>
                    <td class="w-1/2">
                        <img src="images/sin-salir.webp" class="h-41 w-auto" alt="¡Envía sin salir de casa!">
                        <h3 class="m-0 sm:text-lg text-xl font-medium mt-5">
                            ¡Envía sin salir de casa!
                        </h3>
                        <p class="m-0 text-sm text-ziyego-gray-5">
                            (Incluye recolección)
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    <tr>
        <td class="sm:pb-10 pb-14">
            <a href="#" class="inline-block no-underline bg-ziyego-yellow-1 text-ziyego-purple-1 text-2sm font-medium rounded-full px-11 py-5 hover:bg-ziyego-yellow-1/90 transition">
                Visitar la web
            </a>
        </td>
    </tr>
</table>
<!-- Fin de la sección de servicios -->
