<!-- Plantilla de emails de Ziyegó febrero del 2023  -->
<extends src="src/layouts/main.html">
    <block name="head">
        <!-- Fuentes tipográficas -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
        </style>
    </block>
    <block name="template">
        <table class="w-full bg-ziyego-gray-3 h-screen">
            <tr>
                <td>
                    <table class="container max-w-12xl">
                        <tr>
                            <td class="pt-14 md:pt-28 pb-10 md:pb-20">
                                <table class="w-full">
                                    <tr>
                                        <td class="pb-12 md:pb-16 text-center">
                                            <!-- Logo -->
                                            <a href="#">
                                                <img src="images/logo.png" alt="Logo de {{ page.company }}" class="h-20 md:h-28 w-auto">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Contenido -->
                                            <block name="content"></block>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pb-8">
                                            <!-- Servicios -->
                                            <component src="src/components/services.html"></component>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pb-10 md:pb-20">
                                            <!-- Banner -->
                                            <component src="src/components/banner.html"></component>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Footer -->
                                            <component src="src/components/footer.html"></component>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </block>
</extends>
